@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
.button{
	font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

/* LAYOUT CSS */
.header {
	width: 100%;
	height: 10%;
	position:fixed;
	z-index: 9;
}

.topmenu-main {
	float: right;
	margin-top: 90px;
	margin-right: 50px;
	font-size: 12px;
}
.topmenu-main a {
	color: #ffffff;
}
.topmenu-main a:hover {
	color: #b30000;
}

.topmenu-project,
.topmenu-login {
	float: right;
	margin-top: 90px;
	margin-right: 50px;
	font-size: 12px;
}

.topmenu-project a,
.topmenu-login a {
	color: #000000;
}
.topmenu-project a:hover,
.topmenu-login a:hover {
	color: #b30000;
}

.main {
	width: 100%;
	height: 80%;
}

.about-img{
	
}

.project-img{	
	margin-top: 150px;
	width: 78%;
	max-height: 1200px;
	float: right;
}

.project-menu{
	margin-top: 150px;
	width: 22%;
	height: 1200px;
	float: left;
	font-size: 14px;
	text-align: center;
	line-height: 2em;
}

.project-menu a{
	color: #000000;
}
.project-menu a:hover {
	color: #b30000;
}

.login{
	padding:400px 15px 250px 15px;
	text-align: center;
}

.footer {
	width: 100%;
	height: 10%;
	text-align: center;
}

.footer a {
	color: #000000;
}

/* SWIPER */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container {
    width: 78%;
    height: 80%;
	margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
